body {
    background-color: #1E3A4C;
    color: white;
}

.row{
    margin-left: 3%;
    margin-right: 3%;
}

.day {
    background-color: rgba(0, 255, 255, 0.448);
    margin: 0.8% 0.8% 0.8% 0.8%;
}

#currentTemp {
    font-size: 2em;
}